button {
    
font-family: helvetica 'Times New Roman', Times, serif;

font-size: 28px;
}

.button-black {

 background-color: black;
 color: white;

}

.button-yellow {

    background-color: yellow;
}